@model List<Zoo>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>




<table>
    <tbody>
        <tr>
            <th>Nome</th>
            <th>DataAbertura</th>
            <th>EntidadeAdministradora</th>
        </tr>
        @foreach (var zoo in @Model)
        {
            <tr>
                <td>@zoo.Nome</td>
                <td>@zoo.Jaulas</td>
                <td>@zoo.DataAbertura.ToShortDateString()</td>
                <td>@zoo.EntidadeAdministradora</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Atualizar" asp-route-id="@zoo.ZooId" />

                    <button onClick="idRemove.value= @zoo.ZooId" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Excluir
                    </button>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="id" id="idRemove" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>                
            </div>
        </div>
    </div>
</div>

<message texto="@TempData["msg"]"></message>

@section MenuLateral {
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">FIAP</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="Cadastrar" class="nav-item nav-link">Cadastrar</a>
                <a href="Listar" class="nav-item nav-link">Listar</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </nav>
}


